<div class="layui-tab-item">
	<table class="layui-table" style="margin-top:0">
		<colgroup>
			<col width="110">
			<col width="150">
			<col width="150">
			<col width="250">
			<col width="250">
			<col>
		</colgroup>
		<thead>
			<tr>
				<th>名称</th>
				<th>显示</th>
				<th>终端</th>
				<th colspan="2">代码</th>
				<th>备注</th>
			</tr>
		</thead>
		<tbody>
			{maccms:foreach name="$mojia['ads']" id="advert" key="ads"}
			<tr>
				<td><input type="text" name="mojia[ads][{$ads}][name]" value="{$advert.name}" class="layui-input" placeholder="全站顶部"></td>
				<td>
					<input type="hidden" name="mojia[ads][{$ads}][group]" value="{$advert.group}" />
					<select multiple="advert" lay-filter="">
						<option value="">请选择</option>
						{maccms:foreach name=":model('Group')->getCache('group_list')"}
						<option value="{$vo.group_id}"{if in_array($vo['group_id'], explode(',',$advert['group']))} selected{/if}>{$vo.group_name}</option>
						{/maccms:foreach}
					</select>
				</td>
				<td>
					<input type="hidden" name="mojia[ads][{$ads}][show]" value="{$advert.show}" />
					<select lay-filter="">
						<option value="">全端显示</option>
						<option value="1"{if$advert.show==1} selected{/if}>仅移动端</option>
						<option value="2"{if$advert.show==2} selected{/if}>仅桌面端</option>
					</select>
				</td>
				{switch $advert.type}
				{case common}
				<td colspan="2"><textarea name="mojia[ads][{$ads}][area]" class="layui-textarea" placeholder="请填入广告代码">{:mao_html_check($advert['area'])}</textarea></td>
				{/case}
				{case float}
				<td><textarea name="mojia[ads][{$ads}][left]" class="layui-textarea" placeholder="请填入广告代码">{:mao_html_check($advert['left'])}</textarea></td>
				<td><textarea name="mojia[ads][{$ads}][right]" class="layui-textarea" placeholder="请填入广告代码">{:mao_html_check($advert['right'])}</textarea></td>
				{/case}
				{/switch}
				<td>
					<input type="hidden" name="mojia[ads][{$ads}][type]" value="{$advert.type}" />
					<input type="hidden" name="mojia[ads][{$ads}][des]" value="{$advert.des}" />
					{$advert.des}
				</td>
			</tr>
			{/maccms:foreach}
		</tbody>
	</table>
</div>
