<div class="layui-tab-item">
	<table class="layui-table" style="margin-top:0">
		<colgroup>
			<col width="110">
			<col width="300">
			<col width="110">
			<col width="110">
			<col>
		</colgroup>
		<thead>
			<tr>
				<th>名称</th>
				<th>链接</th>
				<th colspan="2">按钮</th>
	            <th>备注</th>
			</tr> 
		</thead>
		<tbody>
			{maccms:foreach name="$mojia['base']" id="basics" key="base"}
			<input type="hidden" name="mojia[base][{$base}][type]" value="{$basics.type}" />
			{switch $basics.type}
			{case edit}
			<tr>
				<td><input type="text" name="mojia[base][{$base}][name]" value="{$basics.name}" class="layui-input" placeholder="后台入口"></td>
				<td>
					<select name="mojia[base][{$base}][entry]">
						{maccms:foreach name="$common['maopath']"}
						<option value="{$vo}"{if$basics.entry==$vo} selected{/if}>{$vo}</option>
						{/maccms:foreach}
					</select>
				</td>
				<td colspan="2">
					<select name="mojia[base][{$base}][state]">
						<option value="1"{if$basics.state==1} selected{/if}>开启详情页编辑按钮</option>
						<option value="0"{if$basics.state==0} selected{/if}>关闭详情页编辑按钮</option>
					</select>
				</td>
				<td>
					<input type="hidden" name="mojia[base][{$base}][des]" value="{$basics.des}" />
					{$basics.des}
				</td>
			</tr>
			{/case}
			{case image}
			<tr>
				<td rowspan="2"><input type="text" name="mojia[base][{$base}][name]" value="{$basics.name}" class="layui-input" placeholder="默认小图"></td>
				<td><input type="text" name="mojia[base][{$base}][pic1]" value="{$basics.pic1}" class="layui-input layui-upfile" placeholder="请填写图片地址"></td>
				<td><button type="button" class="layui-btn layui-btn-primary layui-upload">上传图片</button></td>
				<td><button type="button" class="layui-btn layui-btn-primary layui-lookup" lay-filter="lookup" lay-submit>查看图片</button></td>
				<td>
					<input type="hidden" name="mojia[base][{$base}][des1]" value="{$basics.des1}" />
					{$basics.des1}
				</td>
			</tr>
			<tr>
				<td><input type="text" name="mojia[base][{$base}][pic2]" value="{$basics.pic2}" class="layui-input layui-upfile" placeholder="请填写图片地址"></td>
				<td><button type="button" class="layui-btn layui-btn-primary layui-upload">上传图片</button></td>
				<td><button type="button" class="layui-btn layui-btn-primary layui-lookup" lay-filter="lookup" lay-submit>查看图片</button></td>
				<td>
					<input type="hidden" name="mojia[base][{$base}][des2]" value="{$basics.des2}" />
					{$basics.des2}
				</td>
			</tr>
			{/case}
			{case input}
			<tr>
				<td><input type="text" name="mojia[base][{$base}][name]" value="{$basics.name}" class="layui-input" placeholder="名称"></td>
				<td>
					<input type="hidden" name="mojia[base][{$base}][category]" value="{$basics.category}" />
					<select multiple="basics" lay-filter="">
						<option value="">请选择需要横向显示缩略图的分类</option>
						{maccms:type ids="parent" order="asc" by="sort" mid="1"}
						<option value="{$vo.type_id}"{if in_array($vo.type_id, explode(',',$basics['category']))} selected{/if}>{$vo.type_name}</option>
						{/maccms:type}
					</select>
				</td>
				<td><input type="text" name="mojia[base][{$base}][sub]" value="{$basics.sub}" class="layui-input" placeholder="名称"></td>
				<td><input type="text" name="mojia[base][{$base}][text]" value="{$basics.text}" class="layui-input" placeholder="6px"></td>
				<td>
					<input type="hidden" name="mojia[base][{$base}][des]" value="{$basics.des}" />
					{$basics.des}
				</td>
			</tr>
			{/case}
			{case copy}
			<tr>
				<td><input type="text" name="mojia[base][copy][name]" value="{$basics.name}" class="layui-input" placeholder="版权设置"></td>
				<td><input type="text" name="mojia[base][copy][title]" value="{$basics.title}" class="layui-input" placeholder="请填写主题名称"></td>
				<td colspan="2"><input type="text" name="mojia[base][copy][link]" value="{$basics.link}" class="layui-input" placeholder="请填写主题链接"></td>
				<td>
					<input type="hidden" name="mojia[base][{$base}][des]" value="{$basics.des}" />
					{$basics.des}
				</td>
			</tr>
			{/case}
			{case code}
			<tr>
				<td><input type="text" name="mojia[base][{$base}][name]" value="{$basics.name}" class="layui-input" placeholder="名称"></td>
				<td colspan="3"><textarea name="mojia[base][{$base}][code]" class="layui-textarea" placeholder="请填写">{$basics.code}</textarea></td>
				<td>
					<input type="hidden" name="mojia[base][{$base}][des]" value="{$basics.des}" />
					{$basics.des}
				</td>
			</tr>
			{/case}
			{/switch}
			{/maccms:foreach}
		</tbody>
	</table>
</div>