<div class="layui-tab-item">
	<table class="layui-table" style="margin-top:0">
		<tr>
			<td width="90"><button type="button" class="layui-btn layui-btn-primary" style="{style}" lay-filter="colour" lay-submit data-back="{back}" data-type="{type}">{name}</button></td>
			<td>快捷配色选择<input type="hidden" name="mojia[color][type][name]" value="{$mojia['color']['type']['name']}"></td>
		</tr>
	</table>
	<table class="layui-table" style="margin-top:0">
		<colgroup>
			<col width="110">
			<col width="130">
			<col width="185">
			<col width="50">
			<col width="160">
			<col width="185">
			<col>
		</colgroup>
		<thead>
			<tr>
				<th>模块</th>
				<th>文字属性</th>
				<th>文字颜色</th>
				<th>选择</th>
				<th>背景属性</th>
				<th>背景颜色</th>
				<th>选择</th>
			</tr>
		</thead>
		<tbody>
			{php}unset($mojia['color']['type']);{/php}
			{maccms:foreach name="$mojia['color']" id="colour" key="color"}
			<tr>
				<td>
					<input type="text" name="mojia[color][{$color}][name]" value="{$colour['name']}" class="layui-input" placeholder="颜色名称">
					<input type="hidden" name="mojia[color][{$color}][class]" value="{$colour.class}" />
					<input type="hidden" name="mojia[color][{$color}][type]" value="{$colour.type}" />
					<input type="hidden" name="mojia[color][{$color}][id]" value="{$colour.id}" />
				</td>
				{switch $colour.type}
				{case back}
				<td><input type="text" name="mojia[color][{$color}][attr2]" value="{$colour.attr2}" class="layui-input" placeholder="请输入属性"></td>
				<td><input type="text" name="mojia[color][{$color}][color2]" value="{$colour.color2}" class="layui-input" placeholder="请输入色值"></td>
				<td><a class="mo-look-btns"></a></td>
				<td><input type="text" name="mojia[color][{$color}][attr1]" value="{$colour.attr1}" class="layui-input" placeholder="请输入属性"></td>
				<td><input type="text" name="mojia[color][{$color}][color1]" value="{$colour.color1}" class="layui-input" placeholder="请输入色值"></td>
				<td><a class="mo-look-btns"></a></td>
				{/case}
				{case text}
				<td><input type="text" name="mojia[color][{$color}][attr]" value="{$colour.attr}" class="layui-input" placeholder="请输入属性"></td>
				<td colspan="4"><input type="text" name="mojia[color][{$color}][color]" value="{$colour.color}" class="layui-input" placeholder="请输入色值"></td>
				<td><a class="mo-look-btns"></a></td>
				{/case}
				{case edge}
				<td><input type="text" name="mojia[color][{$color}][attr]" value="{$colour.attr}" class="layui-input" placeholder="请输入属性"></td>
				<td colspan="4"><input type="text" name="mojia[color][{$color}][color]" value="{$colour.color}" class="layui-input" placeholder="请输入色值"></td>
				<td><a class="mo-look-btns"></a></td>
				{/case}
				{/switch}
			</tr>
			{/maccms:foreach}
		</tbody>
	</table>
</div>
