<div class="layui-tab-item">
	<table class="layui-table" style="margin-top:0">
		<tr>
			<td width="90"><button type="button" class="layui-btn layui-btn-primary"{if$mojia['color']['type']['name']==1} style="background-color:#ff5f00;color:#ffffff;"{/if} lay-filter="colour" lay-submit data-back="#ff5f00" data-type="1" data-color="#ffffff,#333333,#f2f3f6,#666666,#000000,#ffffff,#dedede,#333333,#f8f8f8,#333333,#ededed,#333333,#cacaca,#333333,#dfdfdf,#999999,#ff5f00,#ffffff,#ff0d29,#ffffff,#ff920b,#ffffff,#ffc600,#ffffff,#7f7f8c,#ffffff,#999999,#dedede,#ffffff,#333333,#666666,#ff0d29,#28bd98,#ff6f6f,#333333">默认简橙</button></td>
			<td width="90"><button type="button" class="layui-btn layui-btn-primary"{if$mojia['color']['type']['name']==2} style="background-color:#d3b270;color:#ffffff;"{/if} lay-filter="colour" lay-submit data-back="#d3b270" data-type="2" data-color="#333333,#999999,#2b2a2a,#999999,#000000,#999999,#666666,#999999,#555555,#999999,#444444,#999999,#555555,#999999,#888888,#aaaaaa,#d3b270,#ffffff,#ff0d29,#ffffff,#ff920b,#ffffff,#ffc600,#ffffff,#7f7f8c,#ffffff,#666666,#2a2a2a,#ffffff,#333333,#666666,#ff0d29,#28bd98,#ff6f6f,#999999">深色模式</button></td>
			<td width="90"><button type="button" class="layui-btn layui-btn-primary"{if$mojia['color']['type']['name']==3} style="background-color:#d22222;color:#ffffff;"{/if} lay-filter="colour" lay-submit data-back="#d22222" data-type="3" data-color="#ffffff,#333333,#f2f3f6,#666666,#000000,#ffffff,#dedede,#333333,#f8f8f8,#333333,#ededed,#333333,#cacaca,#333333,#dfdfdf,#999999,#d22222,#ffffff,#ff0d29,#ffffff,#ff920b,#ffffff,#ffc600,#ffffff,#7f7f8c,#ffffff,#999999,#dedede,#ffffff,#333333,#666666,#ff0d29,#28bd98,#ff6f6f,#333333">红色节日</button></td>
			<td width="90"><button type="button" class="layui-btn layui-btn-primary"{if$mojia['color']['type']['name']==4} style="background-color:#1e9fff;color:#ffffff;"{/if} lay-filter="colour" lay-submit data-back="#1e9fff" data-type="4" data-color="#ffffff,#333333,#f2f3f6,#666666,#000000,#ffffff,#dedede,#333333,#f8f8f8,#333333,#ededed,#333333,#cacaca,#333333,#dfdfdf,#999999,#1e9fff,#ffffff,#ff0d29,#ffffff,#ff920b,#ffffff,#ffc600,#ffffff,#7f7f8c,#ffffff,#999999,#dedede,#ffffff,#333333,#666666,#ff0d29,#28bd98,#ff6f6f,#333333">天空之城</button></td>
			<td width="90"><button type="button" class="layui-btn layui-btn-primary"{if$mojia['color']['type']['name']==5} style="background-color:#fb7299;color:#ffffff;"{/if} lay-filter="colour" lay-submit data-back="#fb7299" data-type="5" data-color="#ffffff,#333333,#f2f3f6,#666666,#000000,#ffffff,#dedede,#333333,#f8f8f8,#333333,#ededed,#333333,#cacaca,#333333,#dfdfdf,#999999,#fb7299,#ffffff,#ff0d29,#ffffff,#ff920b,#ffffff,#ffc600,#ffffff,#7f7f8c,#ffffff,#999999,#dedede,#ffffff,#333333,#666666,#ff0d29,#28bd98,#ff6f6f,#333333">老夫的少女心</button></td>
			<td>快捷配色选择<input type="hidden" name="mojia[color][type][name]" value="{$mojia['color']['type']['name']}"></td>
		</tr>
	</table>
	<table class="layui-table" style="margin-top:0">
		<colgroup>
			<col width="110">
			<col width="200">
			<col width="50">
			<col width="200">
			<col width="50">
			<col>
		</colgroup>
		<thead>
			<tr>
				<th>模块</th>
				<th>背景颜色</th>
				<th>选择</th>
				<th>文字颜色</th>
				<th>选择</th>
				<th>备注</th>
			</tr> 
		</thead>
		<tbody>
			{php}unset($mojia['color']['type']);{/php}
			{maccms:foreach name="$mojia['color']" id="colour" key="color"}
			<tr>
				<td>
					<input type="text" name="mojia[color][{$color}][name]" value="{$colour['name']}" class="layui-input" placeholder="颜色名称">
					<input type="hidden" name="mojia[color][{$color}][type]" value="{$colour.type}" />
				</td>
				{switch $colour.type}
				{case back}
				<td><input type="text" name="mojia[color][{$color}][back]" value="{$colour.back}" class="layui-input" placeholder="请输入背景色"></td>
				<td><div class="mo-look-btns"></div></td>
				<td><input type="text" name="mojia[color][{$color}][text]" value="{$colour.text}" class="layui-input" placeholder="请输入字体颜色"></td>
				<td><div class="mo-look-btns"></div></td>
				{/case}
				{case text}
				<td colspan="3"><input type="text" name="mojia[color][{$color}][text]" value="{$colour.text}" class="layui-input" placeholder="请输入字体颜色"></td>
				<td><div class="mo-look-btns"></div></td>
				{/case}
				{/switch}
				<td>
					<input type="hidden" name="mojia[color][{$color}][des]" value="{$colour.des}" />
					{$colour.des}
				</td>
			</tr>
			{/maccms:foreach}
		</tbody>
	</table>
</div>