<div class="layui-tab-item">
	<table class="layui-table" style="margin-top:0">
		<colgroup>
			<col width="60">
			<col width="110">
			<col width="100">
			<col width="150">
			<col width="250">
			<col>
		</colgroup>
		<thead>
			<tr>
				<th align="center">调整</th>
				<th>编号</th>
				<th>图标</th>
				<th>名称</th>
				<th>链接</th>
				<th>状态</th>
			</tr>
		</thead>
		<tbody class="ts-move-wrap" id="navbar">
			{maccms:foreach name="$mojia['nav']" id="navbar" key="nav"}
			<tr>
				<td align="center">
					<a class="ts-move-tune mo-icon-font mo-icon-icon-" href="javascript:;"></a>
					<input type="hidden" name="mojia[nav][{$nav}][id]" value="{$navbar.id}" />
				</td>
				<td>
					<select name="mojia[nav][{$nav}][mid]" lay-filter="navbar">
						<option value="">请选择</option>
						<option data-name="首页" data-href="{literal}{{/literal}$maccms.path{literal}}{/literal}" value="0" {if$navbar.mid==0} selected{/if}>首页</option>
						{maccms:foreach name=":explode(',','1,2,3,5,6,7,8,9,10,11')"}
						<option data-name="{$vo|mac_get_mid_text}" data-href="{literal}{:{/literal}mac_url('{$vo|mac_get_mid_code}/index'){literal}}{/literal}" value="{$vo}" {if$navbar.mid==$vo} selected{/if}>{$vo|mac_get_mid_text}</option>
						{/maccms:foreach}
					</select>
				</td>
				<td><input type="text" name="mojia[nav][{$nav}][icon]" value="{$navbar.icon}" class="layui-input" iconfont="navbar"></td>
				<td><input type="text" name="mojia[nav][{$nav}][name]" value="{$navbar.name}" class="layui-input" placeholder="名称"></td>
				<td><input type="text" name="mojia[nav][{$nav}][href]" value="{$navbar.href}" class="layui-input" placeholder="请填写链接地址"></td>
				<td>
					<input type="radio" name="mojia[nav][{$nav}][state]" value="1" title="开启"{if$navbar.state==1} checked{/if}>
					<input type="radio" name="mojia[nav][{$nav}][state]" value="0" title="关闭"{if$navbar.state==0} checked{/if}>
				</td>
			</tr>
			{/maccms:foreach}
		</tbody>
	</table>
</div>
