<div class="layui-tab-item">
	<table class="layui-table" style="margin-top:0">
		<colgroup>
			<col width="110">
			<col width="130">
			<col width="100">
			<col width="150">
			<col width="110">
			<col width="110">
			<col>
		</colgroup>
		<thead>
			<tr>
				<th>名称</th>
				<th>关键字</th>
				<th>回复</th>
				<th>图片</th>
				<th>上传</th>
	            <th>查看</th>
				<th>状态</th>
			</tr> 
		</thead>
		<tbody>
			{maccms:foreach name="$mojia['play']" id="player" key="play"}
			<input type="hidden" name="mojia[play][{$play}][type]" value="{$player.type}" />
			{switch $player.type}
			{case logo}
			<tr>
				<td rowspan="2"><input type="text" name="mojia[play][{$play}][name]" value="{$player.name}" class="layui-input" placeholder="名称"></td>
				<td colspan="2"><input type="text" name="mojia[play][{$play}][width]" value="{$player.width}" class="layui-input" placeholder="宽度"></td>
				<td><input type="text" name="mojia[play][{$play}][height]" value="{$player.height}" class="layui-input" placeholder="高度"></td>
				<td><input type="text" name="mojia[play][{$play}][margin]" value="{$player.margin}" class="layui-input" placeholder="边距"></td>
				<td>
					<select name="mojia[play][{$play}][float]" lay-filter="">
						<option value="left"{if$player.float=='left'} selected{/if}>左侧</option>
						<option value="right"{if$player.float=='right'} selected{/if}>右侧</option>
					</select>
				</td>
				<td>
					<input type="radio" name="mojia[play][{$play}][state]" value="1" title="开启"{if$player.state==1} checked{/if}>
					<input type="radio" name="mojia[play][{$play}][state]" value="0" title="关闭"{if$player.state==0} checked{/if}>
				</td>
			</tr>
			<tr>
				<td colspan="3"><input type="text" name="mojia[play][{$play}][pic]" value="{$player.pic}" class="layui-input layui-upfile" placeholder="请填写图片地址"></td>
				<td><button type="button" class="layui-btn layui-btn-primary layui-upload">上传图片</button></td>
				<td><button type="button" class="layui-btn layui-btn-primary layui-lookup" lay-filter="lookup" lay-submit>查看图片</button></td>
				<td>
					<input type="hidden" name="mojia[play][{$play}][des]" value="{$player.des}" />
					{$player.des}
				</td>
			</tr>
			{/case}
			{case cover}
			<tr>
				<td><input type="text" name="mojia[play][{$play}][name]" value="{$player.name}" class="layui-input" placeholder="名称"></td>
				<td colspan="3"><input type="text" name="mojia[play][{$play}][pic]" value="{$player.pic}" class="layui-input layui-upfile" placeholder="请填写图片地址"></td>
				<td><button type="button" class="layui-btn layui-btn-primary layui-upload">上传图片</button></td>
				<td><button type="button" class="layui-btn layui-btn-primary layui-lookup" lay-filter="lookup" lay-submit>查看图片</button></td>
				<td>
					<input type="radio" name="mojia[play][{$play}][state]" value="1" title="开启"{if$player.state==1} checked{/if}>
					<input type="radio" name="mojia[play][{$play}][state]" value="0" title="关闭"{if$player.state==0} checked{/if}>
				</td>
			</tr>
			{/case}
			{case chat}
			<tr>
				<td rowspan="2"><input type="text" name="mojia[play][{$play}][name]" value="{$player.name}" class="layui-input" placeholder="名称"></td>
				<td colspan="3"><input type="text" name="mojia[play][{$play}][pic]" value="{$player.pic}" class="layui-input layui-upfile" placeholder="请填写图片地址"></td>
				<td><button type="button" class="layui-btn layui-btn-primary layui-upload">上传图片</button></td>
				<td><button type="button" class="layui-btn layui-btn-primary layui-lookup" lay-filter="lookup" lay-submit>查看图片</button></td>
				<td rowspan="2">
					<input type="hidden" name="mojia[play][{$play}][des]" value="{$player.des}" />
					{$player.des}
				</td>
			</tr>
			<tr>
				<td colspan="2"><input type="text" name="mojia[play][{$play}][send]" value="{$GLOBALS['config']['weixin']['gjc1']}" class="layui-input" placeholder="关键字"></td>
				<td colspan="2"><input type="text" name="mojia[play][{$play}][code]" value="{$GLOBALS['config']['weixin']['gjcm1']}" class="layui-input" placeholder="回复"></td>
				<td>
					<input type="hidden" name="mojia[play][{$play}][category]" value="{$player.category}" />
					<select multiple="multiple" lay-filter="home">
						<option value="">请选择</option>
						{maccms:type order="asc" by="sort" mid="1"}
						<option value="{$vo.type_id}"{if in_array($vo.type_id, explode(',',$player['category']))} selected{/if}>{$vo.type_name}</option>
						{/maccms:type}
					</select>
				</td>
			</tr>
			{/case}
			{case advs}
			<tr>
				<td><input type="text" name="mojia[play][{$play}][name]" value="{$player.name}" class="layui-input" placeholder="名称"></td>
				<td><input type="text" name="mojia[play][{$play}][tips]" value="{$player.tips}" class="layui-input" placeholder="广告倒计时"></td>
				<td><input type="text" name="mojia[play][{$play}][time]" value="{$player.time}" class="layui-input" placeholder="倒计时时间"></td>
				<td colspan="2"><input type="text" name="mojia[play][{$play}][link]" value="{$player.link}" class="layui-input" placeholder="广告链接"></td>
				<td>
					<input type="hidden" name="mojia[play][{$play}][group]" value="{$player.group}" />
					<select multiple="multiple" lay-filter="home">
						<option value="">请选择</option>
						{maccms:foreach name=":model('Group')->getCache('group_list')"}
						<option value="{$vo.group_id}"{if in_array($vo['group_id'], explode(',',$player['group']))} selected{/if}>{$vo.group_name}</option>
						{/maccms:foreach}
					</select>
				</td>
				<td>
					<input type="hidden" name="mojia[play][{$play}][des]" value="{$player.des}" />
					{$player.des}
				</td>
			</tr>
			{/case}
			{case two}
			<tr>
				<td><input type="text" name="mojia[play][{$play}][name1]" value="{$player.name1}" class="layui-input" placeholder="名称"></td>
				<td colspan="2"><input type="text" name="mojia[play][{$play}][text1]" value="{$player.text1}" class="layui-input" placeholder="请填写"></td>
				<td><input type="text" name="mojia[play][{$play}][name2]" value="{$player.name2}" class="layui-input" placeholder="名称"></td>
				<td colspan="2"><input type="text" name="mojia[play][{$play}][text2]" value="{$player.text2}" class="layui-input" placeholder="请填写"></td>
				<td>
					{if$player.des}
					<input type="hidden" name="mojia[play][{$play}][des]" value="{$player.des}" />
					{$player.des}
					{else}
					<input type="radio" name="mojia[play][{$play}][state]" value="1" title="开启"{if$player.state==1} checked{/if}>
					<input type="radio" name="mojia[play][{$play}][state]" value="0" title="关闭"{if$player.state==0} checked{/if}>
					{/if}
				</td>
			</tr>
			{/case}
			{case tips}
			<tr>
				<td><input type="text" name="mojia[play][{$play}][name]" value="{$player.name}" class="layui-input" placeholder="名称"></td>
				<td colspan="2"><input type="text" name="mojia[play][{$play}][title]" value="{$player.title}" class="layui-input" placeholder="请填写提示内容"></td>
				<td><input type="text" name="mojia[play][{$play}][link]" value="{$player.link}" class="layui-input" placeholder="提示按钮链接"></td>
				<td colspan="2"><input type="text" name="mojia[play][{$play}][href]" value="{$player.href}" class="layui-input" placeholder="请填写跳转链接"></td>
				<td>
					<input type="radio" name="mojia[play][{$play}][state]" value="1" title="开启"{if$player.state==1} checked{/if}>
					<input type="radio" name="mojia[play][{$play}][state]" value="0" title="关闭"{if$player.state==0} checked{/if}>
				</td>
			</tr>
			{/case}
			{case input}
			<tr>
				<td><input type="text" name="mojia[play][{$play}][name]" value="{$player.name}" class="layui-input" placeholder="名称"></td>
				<td colspan="5"><input type="text" name="mojia[play][{$play}][text]" value="{$player.text}" class="layui-input" placeholder="请填写"></td>
				<td>
					{if$player.des}
					<input type="hidden" name="mojia[play][{$play}][des]" value="{$player.des}" />
					{$player.des}
					{else}
					<input type="radio" name="mojia[play][{$play}][state]" value="1" title="开启"{if$player.state==1} checked{/if}>
					<input type="radio" name="mojia[play][{$play}][state]" value="0" title="关闭"{if$player.state==0} checked{/if}>
					{/if}
				</td>
			</tr>
			{/case}
			{case other}
			<tr>
				<td><input type="text" name="mojia[play][{$play}][name]" value="{$player.name}" class="layui-input" placeholder="名称"></td>
				<td>
					<select name="mojia[play][{$play}][pass]">
						<option value="1"{if$player.pass==1} selected{/if}>开启加密</option>
						<option value="0"{if$player.pass==0} selected{/if}>关闭加密</option>
					</select>
				</td>
				<td>
					<select name="mojia[play][{$play}][sees]">
						<option value="0"{if$player.sees==0} selected{/if}>开启试看时间</option>
						<option value="1"{if$player.sees==1} selected{/if}>关闭试看时间</option>
					</select>
				</td>
				<td>
					<select name="mojia[play][{$play}][auto]">
						<option value="1"{if$player.auto==1} selected{/if}>开启自动播放</option>
						<option value="0"{if$player.auto==0} selected{/if}>关闭自动播放</option>
					</select>
				</td>
				<td>
					<select name="mojia[play][{$play}][prim]">
						<option value="1"{if$player.prim==1} selected{/if}>开启移动端原生播放器</option>
						<option value="0"{if$player.prim==0} selected{/if}>关闭移动端原生播放器</option>
					</select>
				</td>
				<td>
					<select name="mojia[play][{$play}][cuts]">
						<option value="1"{if$player.cuts==1} selected{/if}>开启视频解析切换</option>
						<option value="0"{if$player.cuts==0} selected{/if}>关闭视频解析切换</option>
					</select>
				</td>
				<td>
					<input type="hidden" name="mojia[play][{$play}][des]" value="{$player.des}" />
					{$player.des}
				</td>
			</tr>
			{/case}
			{/switch}
			{/maccms:foreach}
		</tbody>
	</table>
</div>