<div class="layui-tab-item">
	<table class="layui-table" style="margin-top:0">
		<colgroup>
			<col width="80">
			<col width="125">
			<col width="125">
			<col>
		</colgroup>
		{maccms:foreach name="$mojia['seo']" id="seokey" key="seo"}
		<thead>
			<tr>
				<th colspan="4">{$seokey['info']}</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td><input type="text" name="mojia[seo][{$seo}][aid]" value="{$seokey['aid']}" class="layui-input ts-admin-area" placeholder="AID"></td>
				<td><input type="text" name="mojia[seo][{$seo}][info]" value="{$seokey['info']}" class="layui-input ts-admin-area" placeholder="模块"></td>
				<td><input type="text" name="mojia[seo][{$seo}][type]" value="{$seokey['type']}" class="layui-input ts-admin-area" placeholder="请输入类型"></td>
				<td><textarea name="mojia[seo][{$seo}][title]" class="layui-textarea ts-admin-area" lay-submit lay-filter="seokey" placeholder="请输入标题">{$seokey['title']}</textarea></td>
			</tr>
			<tr>
				<td colspan="3"><textarea name="mojia[seo][{$seo}][image]" class="layui-textarea ts-admin-area" placeholder="请输入封面地址">{$seokey['image']}</textarea></td>
				<td><textarea name="mojia[seo][{$seo}][key]" class="layui-textarea ts-admin-area" lay-submit lay-filter="seokey" placeholder="请输入关键词">{$seokey['key']}</textarea></td>
			</tr>
			<tr>
				<td colspan="3"><textarea name="mojia[seo][{$seo}][url]" class="layui-textarea ts-admin-area" placeholder="请输入URL地址">{$seokey['url']}</textarea></td>
				<td><textarea name="mojia[seo][{$seo}][des]" class="layui-textarea ts-admin-area" lay-submit lay-filter="seokey" placeholder="请输入描述">{$seokey['des']}</textarea></td>
			</tr>
		</tbody>
		{/maccms:foreach}
	</table>
</div>
