<div class="layui-tab-item">
	<table class="layui-table" style="margin-top:0">
		<colgroup>
			<col width="110">
			<col width="300">
			<col width="135">
			<col width="130">
			<col>
		</colgroup>
		<thead>
			<tr>
				<th>名称</th>
				<th>链接</th>
				<th colspan="2">按钮</th>
	            <th>备注</th>
			</tr> 
		</thead>
		<tbody>
			{maccms:foreach name="$mojia['sole']" id="unique" key="sole"}
			<input type="hidden" name="mojia[sole][{$sole}][type]" value="{$unique.type}" />
			{switch $unique.type}
			{case close}
			<tr>
				<td><input type="text" name="mojia[sole][{$sole}][name]" value="{$unique.name}" class="layui-input" placeholder="名称"></td>
				<td><input type="text" name="mojia[sole][{$sole}][tips]" value="{$unique.tips}" class="layui-input" placeholder="请填写"></td>
				<td colspan="2"><input type="text" name="mojia[sole][{$sole}][time]" value="{$unique.time}" class="layui-input mo-date-time" placeholder="请填写下次开启站点时间"></td>
				<td>
					<input type="radio" name="mojia[sole][{$sole}][state]" value="1" title="开启"{if$GLOBALS['config']['site']['site_status']==1} checked{/if}>
					<input type="radio" name="mojia[sole][{$sole}][state]" value="0" title="关闭"{if$GLOBALS['config']['site']['site_status']==0} checked{/if}>
				</td>
			</tr>
			{/case}
			{case input}
			<tr>
				<td><input type="input" name="mojia[sole][{$sole}][name]" value="{$unique.name}" class="layui-input" placeholder="名称"></td>
				<td colspan="3"><input type="input" name="mojia[sole][{$sole}][text]" value="{$unique.text}" class="layui-input" placeholder="请填写"></td>
				<td>
					<input type="radio" name="mojia[sole][{$sole}][state]" value="1" title="开启"{if$unique.state==1} checked{/if}>
					<input type="radio" name="mojia[sole][{$sole}][state]" value="0" title="关闭"{if$unique.state==0} checked{/if}>
				</td>
			</tr>
			{/case}
			{case image}
			<tr>
				<td><input type="text" name="mojia[sole][{$sole}][name]" value="{$unique.name}" class="layui-input" placeholder="名称"></td>
				<td><input type="text" name="mojia[sole][{$sole}][text]" value="{$unique.text}" class="layui-input" placeholder="请填写"></td>
				<td><input type="text" name="mojia[sole][{$sole}][sub]" value="{$unique.sub}" class="layui-input" placeholder="名称"></td>
				<td>
					<input type="hidden" name="mojia[sole][{$sole}][category]" value="{$unique.category}" />
					<select multiple="multiple" lay-filter="home">
						<option value="">请选择</option>
						{maccms:type ids="parent" order="asc" by="sort" mid="1"}
						<option value="{$vo.type_id}"{if in_array($vo.type_id, explode(',',$unique['category']))} selected{/if}>{$vo.type_name}</option>
						{/maccms:type}
					</select>
				</td>
				<td>
					<input type="hidden" name="mojia[sole][{$sole}][des]" value="{$unique.des}" />
					{$unique.des}
				</td>
			</tr>
			{/case}
			{case cdn}
			<tr>
				<td><input type="text" name="mojia[sole][{$sole}][name]" value="{$unique.name}" class="layui-input" placeholder="静态加速"></td>
				<td><input type="text" name="mojia[sole][{$sole}][link]" value="{$unique.link}" class="layui-input" placeholder="静态文件加速地址"></td>
				<td colspan="2">
					<select name="mojia[sole][{$sole}][debug]">
						<option value="1"{if$unique.debug==1} selected{/if}>版本号(线上运行)</option>
						<option value="0"{if$unique.debug==0} selected{/if}>时间戳(本地调试)</option>
					</select>
				</td>
				<td>
					<input type="radio" name="mojia[sole][{$sole}][state]" value="1" title="开启"{if$unique.state==1} checked{/if}>
					<input type="radio" name="mojia[sole][{$sole}][state]" value="0" title="关闭"{if$unique.state==0} checked{/if}>
				</td>
			</tr>
			{/case}
			{case browse}
			<tr>
				<td><input type="text" name="mojia[sole][{$sole}][name]" value="{$unique.name}" class="layui-input" placeholder="浏览控制"></td>
				<td colspan="2"><textarea name="mojia[sole][{$sole}][rule]" class="layui-textarea ts-admin-area" lay-submit lay-filter="browse" placeholder="请填写正则表达式">{$unique.rule}</textarea></td>
				<td>
					<select name="mojia[sole][{$sole}][state]">
						<option value="1"{if$unique.state==1} selected{/if}>允许</option>
						<option value="0"{if$unique.state==0} selected{/if}>禁止</option>
					</select>
				</td>
				<td>
					<input type="hidden" name="mojia[sole][{$sole}][des]" value="{$unique.des}" />
					{$unique.des}
				</td>
			</tr>
			{/case}
			{case chain}
			<tr>
				<td rowspan="2"><input type="text" name="mojia[sole][{$sole}][name]" value="{$unique.name}" class="layui-input" placeholder="图片盗链"></td>
				<td colspan="2"><input type="text" name="mojia[sole][{$sole}][url]" value="{$unique.url}" class="layui-input" placeholder="请填写接口地址"></td>
				<td>
					<select name="mojia[sole][{$sole}][agent]" lay-filter="unique">
						<option value="3"{if$unique.agent==2} selected{/if} data-url="https://i3.wp.com/">WP官方</option>
						<option value="1"{if$unique.agent==1} selected{/if} data-url="{$mojia.config.tpl}api.php/index/image?pic=">自定义</option>
						<option value="0"{if$unique.agent==0} selected{/if} data-url="">关闭</option>
					</select>
				</td>
				<td rowspan="2">
					<input type="hidden" name="mojia[sole][{$sole}][des]" value="{$unique.des}" />
					{$unique.des}
				</td>
			</tr>
			<tr>
				<td colspan="3"><input type="text" name="mojia[sole][{$sole}][regex]" value="{$unique.regex}" class="layui-input" placeholder="清除已存在的代理,以防打不开,多条用(,)分隔"></td>
			</tr>
			{/case}
			{case taoke}
			<tr>
				<td rowspan="2"><input type="text" name="mojia[sole][{$sole}][name]" value="{$unique.name}" class="layui-input" placeholder="淘客设置"></td>
				<td><input type="text" name="mojia[sole][{$sole}][secret]" value="{$unique.secret}" class="layui-input" placeholder="APP_SECRET"></td>
				<td colspan="2"><input type="text" name="mojia[sole][{$sole}][key]" value="{$unique.key}" class="layui-input" placeholder="APP_KEY"></td>
				<td rowspan="2">
					<input type="hidden" name="mojia[sole][{$sole}][des]" value="{$unique.des}" />
					{$unique.des}
				</td>
			</tr>
			<tr>
				<td colspan="2"><input type="text" name="mojia[sole][{$sole}][pid]" value="{$unique.pid}" class="layui-input" placeholder="PID"></td>
				<td>
					<input type="hidden" name="mojia[sole][{$sole}][mid]" value="{$unique.mid}" />
					<select multiple="multiple" lay-filter="home">
						<option value="">请选择</option>
						{maccms:foreach name=":explode(',','0,1,2,3,5,6,7,8,11')"}
						<option value="{$vo}"{if in_array($vo, explode(',',$unique['mid']))} selected{/if}>{$vo|mac_get_mid_text|mac_default='首页'}</option>
						{/maccms:foreach}
					</select>
				</td>
			</tr>
			{/case}
			{case ajax}
			<tr>
				<td><input type="text" name="mojia[sole][{$sole}][name]" value="{$unique.name}" class="layui-input" placeholder="触发任务"></td>
				<td colspan="2"><textarea name="mojia[sole][{$sole}][link]" class="layui-textarea" placeholder="请填写">{$unique.link}</textarea></td>
				<td>
					<input type="hidden" name="mojia[sole][{$sole}][mid]" value="{$unique.mid}" />
					<select multiple="multiple" lay-filter="home">
						<option value="">请选择</option>
						{maccms:foreach name=":explode(',','0,1,2,3,5,6,7,8,11')"}
						<option value="{$vo}"{if in_array($vo, explode(',',$unique['mid']))} selected{/if}>{$vo|mac_get_mid_text|mac_default='首页'}</option>
						{/maccms:foreach}
					</select>
				</td>
				<td>
					<input type="hidden" name="mojia[sole][{$sole}][des]" value="{$unique.des}" />
					{$unique.des}
				</td>
			</tr>
			{/case}
			{/switch}
			{/maccms:foreach}
		</tbody>
	</table>
</div>