<!DOCTYPE html>
<html>
<head>
<title>魔加主题设置</title>
{if$mojia.config.mode=='exploit'}
<link href="{$mojia.config.tpl}{$mojia.config.base}/font/iconfont.css?v={$mojia.config.ver}" rel="stylesheet" type="text/css" />
<link href="{$mojia.config.tpl}{$mojia.config.base}/style/layout.css?v={$mojia.config.ver}" rel="stylesheet" type="text/css" />
{/if}
<link href="{$mojia.config.tpl}{$mojia.config.base}/layui/css/layui.css?v={$mojia.config.ver}" rel="stylesheet" type="text/css" />
<link href="{$mojia.config.tpl}{$mojia.config.base}/style/admin.css?v={$mojia.config.ver}" rel="stylesheet" type="text/css" />
</head>
<body style="min-width:1165px;overflow-y:scroll">
