<div class="layui-text">
	<h2 class="dc-mb-xs10 dc-center">{$GLOBALS['package']['title']}主题用户使用协议</h2>
	<div class="dc-pz-xs10 dc-line-24">
		<p>感谢您选择{$GLOBALS['package']['author']}的{$GLOBALS['package']['title']}苹果CMS模板！本协议是您在使用{$GLOBALS['package']['title']}苹果CMS模板时与{$GLOBALS['package']['author']}(maodajie.com)所订立的协议。如您不同意本协议条款或{$GLOBALS['package']['title']}苹果CMS模板对其进行的修改，您可以主动取消{$GLOBALS['package']['title']}苹果CMS模板提供的服务；您一旦使用{$GLOBALS['package']['title']}苹果CMS模板提供的服务，即视为您已了解并完全同意本使用协议中服务条款各项内容，包括{$GLOBALS['package']['title']}苹果CMS模板对服务条款所做的任何修改。本协议适用于任何{$GLOBALS['package']['title']}苹果CMS模板服务，包括本协议期限内的用户所使用的各项服务和代码的升级和更新。<br /><br /></p>
		<p>一、安装和使用：</p>
		<p>在使用{$GLOBALS['package']['title']}苹果CMS模板时您必须保证在不进行非法活动，不违反国家相关政策法规的前提下使用本模板。</p>
		<p>二、免责声明：</p>
		<p>此模板无任何内置数据，所有由用户自己制作、下载、使用的第三方信息数据和系统插件所引起的一切版权问题或纠纷，{$GLOBALS['package']['title']}苹果CMS模板作者概不承担任何责任！</p>
		<p>三、协议规定的约束和限制：</p>
		<p>授权者务必尊重知识产权，严格保证不恶意传播产品源码、不得直接对授权的产品本身进行二次转售或倒卖等。否则我们有权利收回产品授权。<br /><br /></p>
		<p>&copy;&nbsp;{:date('Y')}&nbsp;{$GLOBALS['package']['title']}苹果CMS模板&nbsp;保留所有权利</p>
	</div>
	<div class="dc-mt-xs10">
		<button class="layui-btn layui-btn-fluid layui-btn-disabled" lay-submit lay-filter>我已阅读并同意此协议<span class="ts-check-time">(<span class="ts-check-count">10</span>)</span></button>
	</div>
</div>
